<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<!-- THE CONFIGURATION FOR JUNIT TESTS IS PRESENT IN COOP.DERBYTESTSETUP.JAVA -->
<hibernate-configuration>
	<session-factory>
		<!-- JDBC connection pooling with c3p0 -->
		<property name="hibernate.c3p0.min_size">1</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.acquire_increment">1</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.timeout">1800</property>
		<property name="hibernate.c3p0.validate">1800</property>
		
		<!-- Model mappings -->
		<mapping class="coop.model.Board" />
		<mapping class="coop.model.Cycle" />
		<mapping class="coop.model.ImpactedProjectFile" />
		<mapping class="coop.model.Project" />
		<mapping class="coop.model.Note" />
		<mapping class="coop.model.SlackWorkspace" />
		<mapping class="coop.model.Task" />
		<mapping class="coop.model.TaskChange" />
		<mapping class="coop.model.TaskHistory" />
		<mapping class="coop.model.User" />
		<mapping class="coop.model.Work" />

		<mapping class="coop.model.repository.GitLabRepositoryHost" />
		<mapping class="coop.model.repository.GitHubRepositoryHost" />
		<mapping class="coop.model.repository.RepositoryHost" />
		<mapping class="coop.model.repository.RepositoryProject" />


	</session-factory>
</hibernate-configuration>