<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <!-- codesmell -->
        <RollingFile name="ApplicationAppender" fileName="PATH_TO_LOG" filePattern="PATH_TO_LOG_ARCHIVE">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy />
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="50 MB" />
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="ExceptionLogger" level="INFO" additivity="false">
            <AppenderRef ref="ApplicationAppender"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="ApplicationAppender"/>
        </Root>
    </Loggers>
</Configuration>